.icons {
  display: inline-block;
  font-family: sans-serif;
  font-feature-settings: 'liga';
  font-size: inherit;
  font-style: normal;
  font-weight: normal;
  height: 1em;
  letter-spacing: normal;
  line-height: 1;
  overflow: hidden;
  text-rendering: optimizeLegibility;
  text-transform: none;
  vertical-align: -16%;
  white-space: nowrap;
  width: 1em;
  word-wrap: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: greyscale;
  margin-right: 4px;
}
