// Colors
$colors: (
    // ----- Custom colors -----
    _white: #ffffff,
    _black: #000000,

    // ----- Social networs colors -----
    _twitter: #1da1f2,
    _facebook: #3b5998,
    _pinterest: #CD232D,
    _instagram: #125688,
    _linkedin: #007bb6,
    _email: #0a88ff,
);

$grid:(
    _size_0: (0/12)*100,
    _size_1: (1/12)*100,
    _size_2: (2/12)*100,
    _size_3: (3/12)*100,
    _size_4: (4/12)*100,
    _size_5: (5/12)*100,
    _size_6: (6/12)*100,
    _size_7: (7/12)*100,
    _size_8: (8/12)*100,
    _size_9: (9/12)*100,
    _size_10: (10/12)*100,
    _size_11: (11/12)*100,
    _size_12: (12/12)*100
);

$screen:(
    _xxl: 1400px,
    _xxl-max: 1399px,
    _xl: 1200px, // $screen-xl
    _xl-max: 1199px, // $screen-xl-max
    _lg: 992px, // $screen-lg
    _lg-max: 991px, // $screen-lg-max
    _md: 768px, // $screen-md
    _md-max: 767px, // $screen-md-max
    _sm: 576px, // $screen-sm
    _sm-max: 575px, // $screen-sm-max
    _xs: 450px, // $screen-xs
    _xs-max: 449px, // $screen-xs-max
    _xxs: 350px, // $screen-xs-max
    _xxs-max: 349px, // $screen-xs-max
);